
.el-radio__label{
  font-size: 13px;
}

.el-radio__input.is-checked+.el-radio__label{
  color: #424450;
}

.el-textarea__inner{
  background: #FFF;
  border: 1px solid #D4DDEB;
  box-sizing: border-box;
  border-radius: 4px;
}

.el-textarea__inner:focus{
  box-shadow: 0px 0px 1.5px rgba(102, 182, 255, 0.6);
  border: 1px solid #66B6FF;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}

.el-input__inner {
  height: 36px;
  border-radius: 6px;
  border-color: #D4DDEB;
  line-height: 1;
}

.el-input__inner::placeholder{
  color: #AAB5CF;
}

.el-input--prefix .el-input__inner {
  padding-right: 0;
}

.el-input--small .el-input__inner{
  height: 30px;
  line-height: 30px;
}

.el-dropdown-menu__item {
  display: flex;
  align-items: center;
  color: #424450;
}

.el-dropdown-menu__item:not(:last-child) {
  border-bottom: 1px solid #ebf0fa;
}

.el-progress__text span {
  font-size: 13px;
}

.no-shadow-ios,
.el-textarea__inner,
.el-radio__inner{
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
} 

.el-popper__arrow{
  display: none;
}

.el-dialog {
  border-radius: 10px;
}

.el-dialog__header {
  border-bottom: 1px solid #d4ddeb;
}

.el-loading-spinner .el-loading-text{
  font-size: 20px;
}

.el-icon-loading:before{
  font-size: 30px;
}

.el-form-item__label {
  line-height: normal;
  padding-bottom: 8px;
  color: #424450;
  font-size: 13px;
  font-weight: 600;
}

.el-input__inner::placeholder {
  font-size: 13px;
  color: #aab5cf;
}

/* Chrome, Safari, Edge, Opera */
.el-input__inner::-webkit-outer-spin-button,
.el-input__inner::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.el-input__inner[type='number'] {
  -moz-appearance: textfield;
}

.el-form-item__content {
  display: flex;
}

.add-employment {
  position: absolute;
  top: 36px;
  margin-left: 10px;
}

.el-radio__label {
  color: #424450;
  font-size: 13px;
  font-weight: normal;
}

.el-tag {
  margin-right: 10px;
  margin-bottom: 10px;
}

.button-new-tag {
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

.input-new-tag {
  width: 90px;
  vertical-align: bottom;
}

.el-dialog__body{
  min-height: 200px;
}

.el-step__title {
  font-size: 14px;
}

.el-form-item--mini.el-form-item {
  margin-bottom: 0;
}

.el-form-item__error {
  font-size: 11px;
}

.dialog-reload > .el-dialog__body {
  min-height: 100px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dialog-reload > .el-dialog__body p {
  text-align: center;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #76e1bb;
  border-color: #76e1bb;
  border-radius: 10px;
}

.el-checkbox__inner {
  border-radius: 10px;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #76e1bb;
}

.el-checkbox__label {
  font-size: 12px;
  color: #aab5cf;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #76e1bb;
}

.el-input-group__append,
.el-input-group__prepend {
  padding-left: 5px;
  padding-right: 5px;
}

.dialog-style {
  margin-top: 10vh !important;
}

.dialog-style .el-dialog__body {
  /* display: flex; */
  /* justify-content: center; */
}
