$primary-default-color: #042D52;
$primary-pressed-color: #424450;
$primary-disabled-color: #E5EAF3;
$primary-text-btn: #fff;
$primary-text-btn-disabled: #B2BDD0;

$primary-gray-03-color: #AAB5CF;


$background-color: #F2F5FA;






